<script setup lang="ts">
useHead({
  title: 'Nux 3 Tailwindcss Blog Template',
  link: [
    {
      rel: 'preconect',
      href: 'https://fonts.googleapis.com'
    },
    {
      rel: 'preconect',
      href: 'https://fonts.gstatic.com',
      crossOrigin: true
    },
    {
      rel: 'stylesheet',
      href: 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:wght@400;700&display=swap'
    },
    {
      rel: 'apple-touch-icon',
      sizes: '180x180',
      href: 'icons/apple-touch-icon.png'
    },
    {
      rel: 'icon',
      sizes: '32x32',
      type: 'image/png',
      href: 'icons/favicon-32x32.png'
    },
    {
      rel: 'icon',
      sizes: '16x16',
      type: 'image/png',
      href: 'icons/favicon-16x16.png'
    },
  ],
})
</script>
<template>
  <div>
    <NuxtPage />
  </div>
</template>
