<script setup lang="ts">
import { MoonIcon, SunIcon } from '@heroicons/vue/24/outline/esm'

const colorMode = useColorMode()
const darkMode = ref(colorMode.value === 'dark')

watch(darkMode, () => colorMode.value = darkMode.value ? 'dark' : 'light')
</script>
<template>
    <div class="dark:bg-gray-800 dark:text-gray-200 container mx-auto">
        <label class="swap swap-rotate">
  
            <!-- this hidden checkbox controls the state -->
            <input type="checkbox" v-model="darkMode" />
            
            <!-- sun icon -->
            <SunIcon class="swap-on stroke-2 w-10 h-10" />
            
            <!-- moon icon -->
            <MoonIcon class="swap-off stroke-2 w-10 h-10" />
            
        </label>
        <slot />
    </div>
</template>