<template>
  <nuxt-layout>
    <main>
      <ContentDoc class="prose prose-slate lg:prose-xl" />
    </main>
  </nuxt-layout>
</template>

<style lang="postcss" scoped>
  /* :deep(h1) {
    @apply text-4xl font-bold;
  }

  :deep(p) {
    @apply text-green-500;
  } */
</style>