<script setup lang="ts">
// definePageMeta({
//    colorMode: 'light',
// })
const counter = ref(0)
const timer = ref(null)

onMounted(
    () => timer.value = setInterval(() => {
        ++counter.value
        if (counter.value === 10) counter.value = 0
    }, 1000))
onUnmounted(() => clearInterval(timer.value))
</script>

<template>
    <nuxt-layout>
        <main>
            <h1 class="text-5xl font-bold">Index page</h1>
            <nuxt-link class="hover:underline" to="/about">About</nuxt-link>
            <p class="text-gray-800 dark:text-gray-100">Hello p</p>
            <button class="btn btn-primary">Button</button>
            <div>
                <span class="countdown font-mono text-6xl">
                    <span :style="{'--value': counter}"></span>
                </span>
            </div>
            <p class="mt-4">
                <span class="badge">Badge</span>
            </p>
            <div class="mt-4">
                <progress class="progress progress-primary w-56" value="10" max="100"></progress>
            </div>
        </main>
    </nuxt-layout>
</template>